[run]
omit =
    triple_agent/tests/*
    triple_agent/reports/external_reports/*
    triple_agent/reports/generation/ipython_notebook.py
    */__init__.py
    triple_agent/parsing/timeline/screenshot_iterator.py
    triple_agent/organization/extract_spectation_replays.py
    triple_agent/organization/fetch_replays.py

[report]
exclude_lines =
    pragma: no cover
